<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NesHd.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NesHd.Ui.Properties.Settings>
            <setting name="Win_X" serializeAs="String">
                <value>195</value>
            </setting>
            <setting name="Win_Y" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="Win_H" serializeAs="String">
                <value>563</value>
            </setting>
            <setting name="Win_W" serializeAs="String">
                <value>521</value>
            </setting>
            <setting name="ShowDebugger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebuggerWin_X" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DebuggerWin_Y" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DebuggerWin_H" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DebuggerWin_W" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="GFXDevice" serializeAs="String">
                <value>SlimDX</value>
            </setting>
            <setting name="TV" serializeAs="String">
                <value>NTSC</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="NoLimiter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapshotsFolder" serializeAs="String">
                <value>.\\Snapshots</value>
            </setting>
            <setting name="SnapshotFormat" serializeAs="String">
                <value>.bmp</value>
            </setting>
            <setting name="StateFloder" serializeAs="String">
                <value>.\\StateSaves</value>
            </setting>
            <setting name="Square1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Square2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DMC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Noize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Triangle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Browser_X" serializeAs="String">
                <value>195</value>
            </setting>
            <setting name="Browser_Y" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="Browser_H" serializeAs="String">
                <value>563</value>
            </setting>
            <setting name="Browser_W" serializeAs="String">
                <value>521</value>
            </setting>
            <setting name="ShowBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Container1" serializeAs="String">
                <value>213</value>
            </setting>
            <setting name="Container2" serializeAs="String">
                <value>186</value>
            </setting>
            <setting name="Column_Name" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="Column_Size" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="Column_Mapper" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="View" serializeAs="String">
                <value>Details</value>
            </setting>
            <setting name="AutoSaveSRAM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PauseWhenFocusLost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>-500</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMenuAndStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Stereo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VRC6Pulse1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VRC6Pulse2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VRC6Sawtooth" serializeAs="String">
                <value>True</value>
            </setting>
        </NesHd.Ui.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
